<aside class="alert">
	<ul>
		<li>MySQL pool recycling has been set in SQLAlchemy so hopefully there won't be any more internal server errors.</li>
	</ul>
</aside>
<aside class="alert green">
	<ul>
		<li>EXIF metadata is now automatically stripped in order to increase the anonymity of your uploads.</li>
	</ul>
</aside>
<aside class="alert red">
	<ul>
		<li>Files are now scanned for viruses on upload.</li>
	</ul>
</aside>
<aside class="alert yellow">
	<ul>
		<li>Uploads are currently set to {{ MAX_PAYLOAD }} MB max. Any abuse will result in a lower limit.</li>
	</ul>
</aside>