{% extends 'layout.html' %}

{%block title %}Guidelines{% endblock %}

{% block content %}
<article>
	<header>
		<h3>Guidelines</h3>
	</header>
	<hr />
	<p>
		<ul class="divide">
			<li>Like the name suggests, everything is completely anonymous.</li>
			<li>Uploads are restricted to {{ MAX_PAYLOAD }} MB max.</li>
			<li>10 second interval between uploads.</li>
			<li>Uploads may be removed for any reason without notice.</li>
			<li>Anything is allowed, even the esoteric Brainfuck <code>.bf</code> file&mdash;unless it's something like child porn. Please keep your highly illegal files to yourself.</li>
			<li>Attempting to flood my disk won't work so don't try.</li>
			<li>This is not a file backup service. I am not accountable for any lost files.</li>
			<li>In the event that a wipe occurs to free up space, the least recently used files are deleted first.</li>
			<li>Don't be an ass.</li>
			<li>Don't make me turn on logging.</li>
			<li>Any questions or inquiries should be emailed to <a href="mailto:{{ CONTACT }}">{{ CONTACT }}</a>.</li>
		</ul>
	</p>
</article>
{% endblock %}
