<!DOCTYPE html>
<html>
	<head>
		<title>{{ TITLE or title }}</title>
		<script>
		var MAX_PAYLOAD = {{ MAX_PAYLOAD }};
		</script>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/') }}{{ STYLE }}" />
		<script src="{{ url_for('static', filename='js/moe.js') }}"></script>
		<script src="{{ url_for('static', filename='js/firefly.js') }}"></script>
		<script src="{{ url_for('static', filename='js/neko.js') }}"></script>
		<script src="{{ url_for('static', filename='js/seishin.js') }}"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="progress">
				<span></span>
			</div>
			<section id="top">
				<div>
					<header>
						<h2><a href="{{ url_for('index') }}">{{ HEADER }}</a></h2>
					</header>
					<nav>
						<a href="https://github.com/WildAndrewLee/Phantom">Github</a>
						<a href="{{ url_for('guidelines') }}">Guidelines</a>
						{% if current_user.is_authenticated() %}
							<a href="{{ url_for('logout') }}">Log Out</a>
						{% endif %}
					</nav>
				</div>
			</section>
			<section id="main">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<aside class="alert {{ category }}">
								<ul>
									<li>{{ message|safe }}</li>
								</ul>
							</aside>
						{% endfor %}
					{% endif %}
				{% endwith %}
				<noscript>
					<aside class="alert yellow">
						<ul>
							<li>JavaScript must be enabled to use this site.</li>
						</ul>
					</aside>
				</noscript>
				{% block content %}{% endblock %}
			</section>
		</div>
	</body>
</html>